@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'jura', sans-serif;
    text-transform: uppercase;
    color: white;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(0deg, #838DA1 5%, #123076 99%);
h1 {
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem 1rem #000;
}

h2 {
    text-shadow: 0.1rem 0.1rem 1rem #000;
}

button {
    background-color: #133a95;
    padding: 00.5rem 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
        background-color: #0f2d72;
    }
}

}
